#navbar{
    background-color: lightblue;

}

#conus{
    list-style: none;
    text-decoration: none;
    color: white;
}

#band{
    text-decoration: none;
    color: white;
}

#home{
    text-decoration: none;
    color: white;
}

#tourp{
    text-decoration: none;
    color: white;
}